/* Provide sufficient contrast against white background */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, th, button {
    font-family: 'Oswald', sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-group, .form-row {
    margin: 1rem 0;
    margin-right: 0.5rem;
}

.reference {
    font-size: 15px;
    margin: 0;
}

.last-row {
    font-weight: bold;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black;
}

.action {
    padding: 6px 21px 4px 21px;
}

.firstColumn {
    width: 35.4%;
}

.secondColumn {
    width: 14.8%;
}

.centered {
    text-align: center;
}

.categoryDelete {
    width: 100%;
    border-radius: 0px;
}

.btn, .form-control {
    border-radius: 0px;
}

.flowEditDelete {
    width: 35%;
}

.react-confirm-alert-overlay {
    background: rgba(255, 255, 255, 0.4);
}
