/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.form-group, .form-row {
    margin: 1rem 0;
    margin-right: 0.5rem;
}

.reference {
    font-size: 15px;
    margin: 0;
}

.totals-row {
    font-weight: bold;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black;
}

.action {
    padding: 7px 21px 5px 21px;
}

.firstColumn {
    width: 35.4%;
}

.secondColumn {
    width: 14.8%;
}

.centered {
    text-align: center;
}

.categoryDelete {
    width: 100%;
    border-radius: 0px;
}

.btn, .form-control {
    border-radius: 0px;
}

label {
    font-weight: bold;
}

.flowEditDelete {
    width: 35%;
}

.react-confirm-alert-overlay {
    background: rgba(255, 255, 255, 0.4);
}

.react-confirm-alert-button-group > button:first-child:hover {
    background: #C82333;
}

.react-confirm-alert-button-group > button:last-child:hover {
    background: #218838;
}

.css-an1o9t, [data-css-an1o9t] {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.Toastify__toast--default {
    background: #343A40;
    color: #aaa;
}

.Toastify__close-button--default {
    color: white;
}

.categoryInput {
    padding-left: 15px !important;
}

.cancel {
    margin-left: 5px;
    background-color: #343A40;
    color: white;
}

.cancel:hover {
    background-color: #292F34;
}

.slider {
    font-size: 4rem;
    font-weight: bold;
}

.carousel-caption {
    bottom: 250px;
}

/*header, footer {
    color: white;
    background: #343A40;
}*/

.navbar {
    padding: 1.5rem 1rem;
}

footer {
    margin-top: 100px;
}

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

.home-info {
    margin: 80px 0;
    padding: 20px 15px;    
    text-align: center;
}

.home-info h3 {
    font-weight: bold;
}

.home-info a {
    color: white;
}

.home-info container {
    border: 1px solid #343A40;
}

/*.text-dark {
    color: white !important;
}*/